<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ page_title }}
  </title>
  {% if page_description -%}
  <meta name="description" content="{{ page_description | truncate: 150 }}">
  {%- endif %}

  {{ content_for_header }}
  
<style>
  body {
    font-family: {{ settings.body_font.family }};
    color: {{ settings.primary_color }};
  }

  h1, h2, h3 {
    font-family: {{ settings.heading_font.family }};
    color: {{ settings.secondary_color }};
  }

  /* Additional styles for other elements */
</style>


  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">

</head>

<body>

  {% section 'header' %}

  {{ content_for_layout }}

  {% section 'footer' %}
</body>

</html>