{% style %}
  .hero-bg-opacity {
    --tw-bg-opacity: {{ section.settings.bg_opacity | times: 0.01 }};
}
{% endstyle %}

<div class="hero"
  style="min-height: {{ section.settings.min_height | default: 650 }}px; background-image: url({{ section.settings.background_image | image_url | default: 'https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp' }});">
  <div class="hero-overlay hero-bg-opacity"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">{{ section.settings.heading }}</h1>
      <p class="mb-5">{{ section.settings.text }}</p>
      <a href="{{ section.settings.button_link }}" class="btn btn-primary">{{ section.settings.button_text }}</a>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Banner",
"settings": [
{
"type": "image_picker",
"id": "background_image",
"label": "Background Image"
},
{
"type": "range",
"id": "min_height",
"label": "Minimum Height (px)",
"min": 400,
"max": 1000,
"step": 50,
"default": 650
},
{
"type": "range",
"id": "bg_opacity",
"label": "Background Opacity",
"min": 0,
"max": 100,
"step": 10,
"default": 60
},
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Hello there"
},
{
"type": "textarea",
"id": "text",
"label": "Text",
"default": "Welcome to my shop"
},
{
"type": "text",
"id": "button_text",
"label": "Button Text",
"default": "Get Started"
},
{
"type": "url",
"id": "button_link",
"label": "Button Link",
"default": "/"
}
]
}
{% endschema %}